version: '3'
services:
  api_play:
    container_name: api_play
    image: api_play
    env_file:
      # Any environmental variables you want can go in this plain text file. See the docs.
      - "docker/environment.env"
    ports:
      - "8080:8080"
#    command: /bin/bash -c "while true; do echo mark; sleep 2; done"
    command: /bin/bash -c "python api_play/manage.py migrate && python api_play/manage.py runserver 0.0.0.0:8080"
    volumes:
      - ".:/usr/src/app"
    working_dir: /usr/src/app
    build:
      context: .
      dockerfile: ./docker/Dockerfile